<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>방명록</title>
</head>
<body>
    <form name="form-visitor">
        <fieldset id="chogihwa">
            <legend>방명록</legend>
            이름 <input type="text" name="username"/><br/>
            내용 <input type="text" name="comment"/>&nbsp;
            <div class="btn-group">
                <button type="button" onclick="addVisitor()">등록</button>
            </div>
        </fieldset>
    </form><br/>
    <div>
        <table border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>작성자</th>
                    <th>방명록</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i<data.length; i++) { %>
                    <tr>
                        <td><%= data[i].id %></td>
                        <td><%= data[i].username %></td>
                        <td><%= data[i].comment %></td>
                        <!-- 수정, 삭제를 위해서는 id 호출은 필수이다. -->
                        <td><button type="button" onclick="updateVisitor('<%= data[i].id %>', this.parentElement.parentElement)">수정</button></td>
                        <td><button type="button" onclick="deleteVisitor('<%= data[i].id %>', this.parentElement.parentElement)">삭제</button></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <h3 id="message"></h3>

    <script>
        function addVisitor(){ // 서버에 보낼 데이터 완성
            const form=document.forms["form-visitor"];
            const data={
                username: form.username.value,
                comment: form.comment.value,
            }

            axios({ // axios를 이용해 데이터를 서버로 전송
                method: 'post',
                url: '/visitor',
                data: data
            }).then((res)=>{ // 응답 받으면 자동 추가
                const {id, username, comment} =res.data;

                $("#chogihwa").html(`
                <legend>방명록</legend>
                이름 <input type="text" name="username" value=""/><br/>
                내용 <input type="text" name="comment" value=""/>&nbsp;
                <div class="btn-group">
                    <button type="button" onclick="addVisitor()">등록</button>
                </div>
                `)

                $("tbody").append(`<tr>
                    <td>${id}</td>
                    <td>${username}</td>
                    <td>${comment}</td>
                    <td><button type="button" onclick="updateVisitor(${id}, this.parentElement.parentElement)">수정</button></td>
                    <td><button type="button" onclick="deleteVisitor(${id}, this.parentElement.parentElement)">삭제</button></td>
                </tr>`)
            })
        }

        function deleteVisitor(id, TrElement){ // 삭제할 id가 필요하다.
            axios({
                method: 'delete',
                url: `/visitor/${id}`, // 콜론 붙이지 않는다.
            }).then((res)=>{
                console.log(res.data);

                if(res.data.result){
                    $(TrElement).remove(); // 삭제할 td태그가 필요하다.
                }
                else{
                    $("#message").html(`<p style="color: red">삭제할 수 없습니다.</p>`)
                }
            })
        }

        function updateVisitor(id){
            axios({
                method: 'get',
                url: `/visitor/${id}`
            }).then(function(res){
                const{
                    username,
                    comment
                } = res.data

                const form = document.forms['form-visitor'];
                form.username.value=username;
                form.comment.value=comment;

                // 변경, 취소 버튼 생성
                $(".btn-group").html(`
                    <button type="button" onclick="editProcess(${id})">변경</button>
                    <button type="button" onclick="editCancel()">취소</button>
                `)
            });
        }

        function editCancel(){
            // 1. input 초기화
            const form = document.forms['form-visitor'];
            form.username.value='';
            form.comment.value='';

            // 2. 등록 버튼으로 돌아오기
            $(".btn-group").html(`<button type="button" onclick="addVisitor()">등록</button>`);
        }

        function editProcess(id){
            const form = document.forms['form-visitor'];

            axios({
                method: 'patch',
                url: '/visitor',
                data: {
                    id: id,
                    username: form.username.value,
                    comment: form.comment.value 
                }
            }).then((res)=>{
                return res.data;
            }).then((data)=>{
                console.log($(`#tr_${id}`).children('td'));
                $(`#tr_${id}`).children("td:eq(1)").text(form.username.value);
                $(`#tr_${id}`).children("td:eq(2)").text(form.comment.value);
                editCancel(); // 입력창 초기화
            })
        }
    </script>
</body>
</html>
